.page-content.activity {
  main {
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1;

    .top-section {
      width: 129.6rem;
      text-align: center;
      margin: 0 auto 2rem;

      .green-text {
        position: relative;
        padding: 7rem 0;

        &:before {
          content: 'TRANSACTIONS';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0.02;
          color: #ffffff;
          font-family: Montserrat;
          font-weight: 700;
          font-size: 14.4rem;
          font-weight: bold;
          letter-spacing: 7.2px;
          line-height: 17.5rem;
        }
      }
      .lg-text {
        margin-bottom: 2.5rem;
      }
      .primary-text {
        padding: 0 18rem;
        margin: 0 auto 2.5rem;
      }
    }

    .main-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      position: relative;

      .glow-bg {
        width: 100%;
      }

      .activity {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: #1d2026;
        margin-top: -6%;

        .activity-content {
          flex: 1;
          width: 56%;
          margin: 0 auto;
          // border-bottom: 1px solid rgba(240, 248, 255, 0.12);
          // padding-bottom: 16rem;
          text-align: center;
          position: relative;

          .activity-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.2rem 1.6rem;
            border: 1px solid #232930;
            background-color: rgba(240, 248, 255, 0.04);
            border-radius: 8px;
            margin-bottom: 1.6rem;

            &:hover {
              border: 1px solid rgba(240, 248, 255, 0.32);
              border-radius: 8px;
              background-color: rgba(240, 248, 255, 0.12);
              cursor: pointer;

              .activity-date {
                .date-time {
                  display: none;
                }
                .view-details {
                  display: block;
                }
              }
            }

            .activity-info {
              flex: 1;
              display: flex;
              align-items: center;

              .icon-status {
                width: 2.4rem;
                margin-right: 1.6rem;
                margin-top: 2px;
                opacity: 0.32;
              }
              .statement {
                display: flex;
                align-items: center;
                margin-right: 0.8rem;
                text-align: left;
              }

              .horse-info {
                display: flex;
                align-items: center;
                margin: 0 1.2rem;
                background-color: rgba(240, 248, 255, 0.12);
                border: 1px solid rgb(61, 65, 71);
                padding: 0.5rem 1.4rem;
                border-radius: 0.5rem;
                cursor: pointer;
                text-decoration: unset;
                svg {
                  margin-right: 1rem;
                }
                span {
                  width: max-content;
                }
                &.bright {
                  background-color: rgba(240, 248, 255, 0.64);
                }

                &:not(.disable):hover {
                  border: 1px solid rgb(240, 248, 255);
                }
              }
            }

            .activity-date {
              display: flex;

              .view-details {
                display: none;
                text-decoration: underline;
                font-weight: bold;
              }
            }
          }

          .empty {
            margin-top: -15%;
          }
        }
      }
    }
  }

  &.mobile {
    main {
      .top-section {
        width: 100%;
        padding: 2rem;
        text-align: left;
        background-color: #1e2128;
        margin-bottom: 0;
        .all-note {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 1.6rem;
          .hide {
            color: rgba(240, 248, 255, 0.64);
          }
        }
        .below {
          width: 100%;
          max-width: 26.5rem;
          padding: 0;
          margin: 1.6rem 0 0 0;
        }
      }

      .main-section {
        .activity {
          background: unset;
          margin-top: 0;
          .activity-content {
            width: 100%;
            padding: 2rem;
            border-bottom: unset;
            .activity-row {
              align-items: flex-start;
              .icon-status {
                margin-right: 1.2rem;
                opacity: 0.32;
              }
              .activity-info {
                display: block;
                text-align: left;
                .statement {
                  display: block;
                  margin: 1.2rem 0;
                  .horse-info {
                    width: fit-content;
                    margin: 1.2rem 0 0;
                  }
                }
              }
            }
            .empty {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}
