.settings {
  main {
    flex: 1;
    width: 129.6rem;
    margin: 0 auto;

    .section {
      padding: 4rem;
      margin-top: 6.4rem;
      background-color: rgba(240, 248, 255, 0.04);

      .title {
        margin: 0;
        font-size: 2.2rem;
      }

      .wallet {
        .icon {
          height: 2.4rem;
          width: auto;
          opacity: 0.64;
          margin-left: 1.6rem;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }
      }

      .meta-mask {
        border-radius: 8px;
        padding: 8px 10px 0px 25px;
        background: #41464d;
        position: relative;

        &::before {
          content: '';
          width: 10px;
          height: 10px;
          position: absolute;
          -moz-border-radius: 7.5px;
          -webkit-border-radius: 7.5px;
          border-radius: 7.5px;
          background-color: #27b18a;
        }
      }

      .text {
        &-hidden {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .success-request-message {
        transition: opacity 1s;
        font-size: 1.25rem;
        margin-top: 0.5rem;
        color: white;
      }

      .gray-bg {
        background-color: rgba(240, 248, 255, 0.04);
      }

      .active {
        background: linear-gradient(135deg, #27b18a 0%, #395052 100%);
        border: 1px solid transparent;
      }

      .separator {
        border: 0.5px solid gray;
      }

      .stable-image {
        width: 14rem;
        height: 14rem;
        background-color: rgba(240, 248, 255, 0.64);
        border: 1px solid rgba(240, 248, 255, 0.32);
        border-radius: 50%;
        margin-right: 3.2rem;
        margin: 0 auto;
        position: relative;

        .stable-image-container {
          height: 100%;
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          border-radius: 50% !important;
          overflow: hidden !important;
        }

        &--sm {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .img-block {
          position: relative;
          max-width: 295px;
          margin: 0 auto;

          &-upload {
            position: absolute;
            top: 0;
            right: 0;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background: #22262d;

            .icon {
              opacity: 0.3;
              transition: opacity 0.3s;
            }

            &:hover {
              .icon {
                opacity: 0.8;
              }
            }
          }
        }
      }

      .file-upload {
        left: 0px;
        top: 0px;
        width: 0px;
      }

      .radio-btn,
      .checkbox-btn {
        &.primary-btn {
          color: #fff;
          border: 1px solid #9fe8d1;
          letter-spacing: normal;

          &.radio-btn {
            cursor: default;
          }

          &:hover {
            border: 1px solid #9fe8d1;
          }
        }
      }

      .compact {
        max-width: 488px;
      }
    }

    .notifications-section {
      .loader {
        right: -4.5rem;

        .loader-container {
          img {
            height: 3rem !important;
            width: 3rem !important;
          }
        }
      }
    }

    .save-changes-button {
      min-width: 120px;
    }
    .balance-butons {
      padding: 1rem 2rem;
      border-radius: 1.2rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 600;
      color: white;
      background-color: transparent;
      border: 1px solid white;
      transition: all 0.25s;
    }
  }

  &.mobile {
    main {
      width: 100%;

      .section {
        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}
