// TODO: remove
$class-0-color: #383c42;
$class-1-color: #563d6d;
$class-2-color: #5e3846;
$class-3-color: #66513e;
$class-4-color: #375b55;
$class-5-color: #326373;
$class-6-color: #57606c;
// end remove
$first-place-color: #fee912;
$second-place-color: #e4e4e4;
$third-place-color: #b09c75;

$accent-yellow: #fee911;

$light-grey: rgba(240, 248, 255, 0.12);

$white: #f0f8ff;

$class-general-color: #573843;
$class-G-color: #383c42;
$class-G-color-secondary: rgba(56, 60, 66, 0.5);

$class-I-color: #563d6d;
$class-I-color-secondary: rgba(83, 63, 100, 0.5);

$class-II-color: #5e3846;
$class-II-color-secondary: rgba(87, 56, 67, 0.5);

$class-III-color: #66513e;
$class-III-color-secondary: rgba(87, 76, 66, 0.5);

$class-IV-color: #375b55;
$class-IV-color-secondary: rgba(55, 78, 74, 0.5);

$class-V-color: #326373;
$class-V-color-secondary: rgba(50, 99, 115, 0.5);

$class-VI-color: #57606c;
$class-VI-color-secondary: rgba(87, 96, 108, 0.5);
